<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h2>Bienvenido de nuevo!</h2>
    </div>

    <mat-card
    *ngFor="let card of Cards">
    <mat-card-header>
      <mat-card-title>{{card.nombre}}</mat-card-title>
      <mat-card-subtitle>{{card.publicadoPor}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{card.photoFileName}}" alt="Imagen no disponible">
    <!-- <mat-card-content>
      <p>{{card.descripcion}}</p>
    </mat-card-content> -->
    </mat-card>

    </div>
</div>

