<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h2>Bienvenido de nuevo!</h2>
    </div>

    <mat-card *ngFor="let card of Cards" class="example-card">
      <mat-card-header>
        <mat-card-title>{{card.nombre}}</mat-card-title>
        <mat-card-subtitle>Publicado por: {{card.publicadoPor}}</mat-card-subtitle>
      </mat-card-header>
     
      <!-- <img mat-card-image src=PhotoFilePath height="250px;" width="200px;" alt="Imagen no disponible"> -->
      <mat-card-content>
        <img [src]=card.PhotoFilePath height="250px;" width="200px;">
        
        <!-- <p>{{card.descripcion}}</p> -->
        <p>{{card.fechaPublicacion | date:'dd/MM/yyyy hh:mm'}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openDialogNoticia(card)">Más Información</button>
      </mat-card-actions>
    </mat-card>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
    </mat-paginator> -->
    <!-- <app-calendario> </app-calendario> -->

  </div>
</div>

