<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h3>Reconocimiento facial</h3>
        <mat-divider></mat-divider>
        <div class="ml-3 bd-highlight" style="width: 40%;">
            <input type="file" (change)="uploadFile($event)" class="mt-2"/>
        </div>
        <img [src]="imgURL" height="200" *ngIf="imgURL">
        <img *ngIf="PhotoFilePath" [src]=PhotoFilePath height="250px;" width="200px;">
    </div>
   <app-webcam-snapshot></app-webcam-snapshot>
</div>