<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h3  class="center">Reconocimiento facial</h3>
        <mat-divider></mat-divider>
        <br>
        <div class="center" >
            <mat-grid-list cols="2" rowHeight="1:1">
                <mat-grid-tile>
                    <app-webcam-snapshot  (fileChanged)="fileChangedHandler($event)"></app-webcam-snapshot>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img [src]="imgURL" *ngIf="imgURL">
                    <img *ngIf="PhotoFilePath" [src]=PhotoFilePath>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="example-button-row">
            <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
            <button *ngIf="noEncontrado" mat-raised-button color="primary" (click)="redireccionar()">Registrar</button>
        </div>
    </div>
</div>