<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <h3>Alta evento</h3>

    <mat-divider></mat-divider>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="nombre" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <input matInput [(ngModel)]="descripcion" />
    </mat-form-field>

    <h3 *ngIf="tipoEvento === 'recurrente'">Rango del evento recurrente</h3>

    <mat-form-field appearance="fill">
      <mat-label>Fecha inicio</mat-label>
      <input
        matInput
        [matDatepicker]="pickerinit"
        [formControl]="fechainicio"
      />
      <mat-datepicker-toggle matSuffix [for]="pickerinit">
      </mat-datepicker-toggle>
      <mat-datepicker #pickerinit></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Fecha fin</mat-label>
      <input matInput [matDatepicker]="pickerfin" [formControl]="fechafin" />
      <mat-datepicker-toggle matSuffix [for]="pickerfin">
        <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
      </mat-datepicker-toggle>
      <mat-datepicker #pickerfin></mat-datepicker>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" [(ngModel)]="tipoEvento">
      <mat-radio-button value="simple" selected>Simple</mat-radio-button>&nbsp;&nbsp;
      <mat-radio-button value="recurrente">Recurrente</mat-radio-button>
    </mat-radio-group>

    <div class="container" *ngIf="tipoEvento === 'recurrente'">
      
  

        <mat-form-field>
            <mat-label>Duracion</mat-label>
            <input matInput [(ngModel)]="duracion" type="number" placeholder="Ingrese segundo valor">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Hora</mat-label>
            <input matTimepicker [(ngModel)]="hora" />
        </mat-form-field>

        <section class="example-section">
            <h4>Seleccione los dias en que se da el evento:</h4>
            <p><mat-checkbox [(ngModel)]="dias[0].selected">Lunes</mat-checkbox></p>
            <p>
            <mat-checkbox [(ngModel)]="dias[1].selected">Martes</mat-checkbox>
            </p>
            <p>
            <mat-checkbox [(ngModel)]="dias[2].selected">Miercoles</mat-checkbox>
            </p>
            <p>
            <mat-checkbox [(ngModel)]="dias[3].selected">Jueves</mat-checkbox>
            </p>
            <p>
            <mat-checkbox [(ngModel)]="dias[4].selected">Viernes</mat-checkbox>
            </p>
            <p>
            <mat-checkbox [(ngModel)]="dias[5].selected">Sabado</mat-checkbox>
            </p>
            <p>
            <mat-checkbox [(ngModel)]="dias[6].selected">Domingo</mat-checkbox>
            </p>
        </section>

    </div>
    <!-- <div class="ml-3 bd-highlight" style="width: 40%;">
            <img [src]=PhotoFilePath height="250px;" width="200px;">
            <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
        </div> -->
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="agregarEvento()">
        Agregar
      </button>
      <button mat-raised-button color="accent" (click)="onNoClick()">
        Cancelar
      </button>
    </div>
  </div>
</div>
