<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Eventos</h2>
          <button mat-raised-button color="primary" (click)="openDialog()">Agregar</button>
          <button mat-raised-button color="accent" (click)="openDialogCalendar()">Calendario</button>
          <table mat-table  [dataSource]="EventoList" matSort>
  
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- descripcion Column -->
            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
              <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
            </ng-container>
          
            <!-- fechainicio Column -->
            <ng-container matColumnDef="fechainicio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Inicio </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaInicioEvt | date:'dd/MM/yyyy' }} </td>
            </ng-container>

            <!-- fechafin Column -->
            <ng-container matColumnDef="fechafin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha fin </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaFinEvt | date:'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaInicioEvt | date:'HH:mm'}} </td>
          </ng-container>

            <ng-container matColumnDef="edificio">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Edificio </th>
              <td mat-cell *matCellDef="let element"> {{element.salon.edificio.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="salon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Salon </th>
            <td mat-cell *matCellDef="let element"> {{element.salon.denominacion}} </td>
        </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="example-button-row">
                        <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon" (click)="deleteClick(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="openDialogUpdate(element)">
                            <mat-icon>update</mat-icon>
                        </button>
                      </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>