<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h3>Asignar rol a {{user.email}}</h3>
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
            <mat-label>Roles</mat-label>
            <mat-select [(ngModel)]="selectedValue">
              <mat-option *ngFor="let rol of roles" [value]="rol.id">
                {{rol.nombreRol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="asignarRol(selectedValue)">Agregar</button>
            <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
        </div>
  </div>
</div>
