<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        ProyectoNET
      </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>
      <span fxShow fxHide.xs>
        {{userName}} {{rol}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/auth/login']"  *ngIf="rol==='VISITANTE'">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span> Login </span>
      </a>

      <a mat-menu-item (click)="logout()" *ngIf="rol!=='VISITANTE'" >
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span *ngIf="rol != 'VISITANTE'"> Log out </span>
        <span *ngIf="rol === 'VISITANTE'"> Log in </span> 
      </a>

    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <h3 mat-subheader>Home</h3>

        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active" *ngIf="rol!='VISITANTE' && instActive">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>
          <p mat-line> Dashboard </p>
        </a>

        <a mat-list-item [routerLink]="['/institucion']" *ngIf="rol==='SUPERADMIN'" routerLinkActive="active">
          <mat-icon mat-list-icon>
            business
          </mat-icon>
          <p mat-line> Instituciones </p>
        </a>

        <a mat-list-item [routerLink]="['/productos']" *ngIf="rol==='SUPERADMIN'" routerLinkActive="active">
          <mat-icon mat-list-icon>
            shopping_cart
          </mat-icon>
          <p mat-line> Productos </p>
        </a>

        <a mat-list-item [routerLink]="['/facturacion']" *ngIf="rol==='ADMIN' && instActive" routerLinkActive="active">
          <mat-icon mat-list-icon>
            list
          </mat-icon>
          <p mat-line> Facturacion </p>
        </a>
        
        <a mat-list-item [routerLink]="['/pago']"  *ngIf="rol==='ADMIN' && !instActive" routerLinkActive="active">
          <mat-icon mat-list-icon>
            monetization_on
          </mat-icon>
          <p mat-line> Pago</p>
        </a>
        <div *ngIf="rol==='ADMIN' && instActive">
          <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
            <mat-icon mat-list-icon>
              people
            </mat-icon>
            <p mat-line> Usuarios </p>
          </a>
          <a mat-list-item [routerLink]="['/edificios']" routerLinkActive="active">
            <mat-icon mat-list-icon>
              business
            </mat-icon>
            <p mat-line> Edificios </p>
          </a>
          <a mat-list-item [routerLink]="['/personas']" routerLinkActive="active">
            <mat-icon mat-list-icon>
              people
            </mat-icon>
            <p mat-line> Personas </p>
          </a>
        </div>
        <a mat-list-item [routerLink]="['/eventos']" *ngIf="(rol==='GESTOR'|| rol==='ADMIN') && instActive" routerLinkActive="active">
          <mat-icon mat-list-icon>
            event
          </mat-icon>
          <p mat-line> Eventos </p>
        </a>
        <a mat-list-item [routerLink]="['/noticias']"  *ngIf="(rol==='GESTOR'|| rol==='ADMIN') && instActive" routerLinkActive="active">
          <mat-icon mat-list-icon>
            list_alt
          </mat-icon>
          <p mat-line> Noticias </p>
        </a>
        <div *ngIf="rol==='PORTERO' && instActive">
          <a mat-list-item [routerLink]="['/puertas']" [queryParams]="{idedificio: idedificio}" routerLinkActive="active">
            <mat-icon mat-list-icon>
              meeting_room
            </mat-icon>
            <p mat-line> Puertas </p>
          </a>
          <a mat-list-item [routerLink]="['/accesos']" routerLinkActive="active">
            <mat-icon mat-list-icon>
              directions_walk
            </mat-icon>
            <p mat-line> Accesos </p>
          </a>
          <a mat-list-item [routerLink]="['/personas']" routerLinkActive="active">
            <mat-icon mat-list-icon>
              people
            </mat-icon>
            <p mat-line> Personas </p>
          </a>
        </div>

        <a mat-list-item [routerLink]="['/roles']"  *ngIf="rol==='SUPERADMIN'" routerLinkActive="active">
          <mat-icon mat-list-icon>
            contact_phone
          </mat-icon>
          <p mat-line> Roles </p>
        </a>

        <a mat-list-item [routerLink]="['/auth/login']"  *ngIf="rol==='VISITANTE'">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line> Login </p>
        </a>

        <a mat-list-item (click)="logout()" *ngIf="rol!=='VISITANTE'" >
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line *ngIf="rol != 'VISITANTE'"> Log out </p>
          <p mat-line *ngIf="rol === 'VISITANTE'"> Log in </p>
        </a>


        <mat-divider></mat-divider>

      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="loading">
        </mat-progress-bar> 
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>