<div class="form-froup row">

    
    <div class="col-sm-10">
        <label class="col-sm-2 col-form-label">Nombre Institucion</label>
        <input type="text" class="form-control" [(ngModel)]="nombre"
        placeholder="Nombre institucion">
    </div>
    
    <div class="col-sm-10">
        <label class="col-sm-2 col-form-label">Direccion</label>
        <input type="text" class="form-control" [(ngModel)]="direccion"
        placeholder="direccion">
    </div>
    
    <div class="col-sm-10">
        <label class="col-sm-2 col-form-label">Telefono</label>
        <input type="text" class="form-control" [(ngModel)]="telefono"
        placeholder="telefono">
    </div>
    
</div>

<button (click)="agregarInstitucion()" *ngIf="inst.id==0" class="btn btn-light mt-3">
    Agregar
</button>

<button (click)="updateInstitucion()" *ngIf="inst.id!=0" class="btn btn-light mt-3">
    Actualizar
</button>