<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Noticias</h2>
          <button mat-raised-button color="primary" (click)="openDialog()">Agregar</button>
  
          <table mat-table  [dataSource]="NoticiasList" matSort>
  
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- fechainicio Column -->
            <ng-container matColumnDef="fechapub">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Publicacion </th>
              <td mat-cell *matCellDef="let element"> {{element.fechaPublicacion}} </td>
            </ng-container>
          
             <!-- publicadoPor Column  -->
             <ng-container matColumnDef="publicadopor">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Publicado Por </th>
              <td mat-cell *matCellDef="let element"> {{element.publicadoPor}} </td>
            </ng-container> 
          
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="example-button-row">
                        <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon" (click)="deleteClick(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <!-- <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="openDialogUpdate(element)">
                            <mat-icon>update</mat-icon>
                        </button> -->
                      </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>