<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Personas</h2>
          <div class="tittle-button-row">
            <button mat-raised-button color="primary" (click)="openDialog()">Agregar</button>
            <button mat-raised-button color="accent" (click)="openDialogAltaMasiva()">Alta masiva</button>
            
            <div style="font-size: 10px">
                <mat-form-field appearance="outline">
                  <mat-label>Buscar</mat-label>
                  <input matInput (keyup)="busqueda($event)">
               </mat-form-field>
            </div>

          </div>
          <table mat-table  [dataSource]="PersonasList" matSort>
  
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nombres">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
              <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
            </ng-container>
          
            <!-- direccion Column -->
            <ng-container matColumnDef="apellidos">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>
          
            <!-- telefono Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- tipo doc Column -->
            <ng-container matColumnDef="tipo_doc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </th>
                <td mat-cell *matCellDef="let element"> <span *ngIf="element.tipo_doc === 0"> Cedula </span> <span *ngIf="element.tipo_doc === 1"> Pasaporte </span> </td>
            </ng-container>

            <!-- nro doc Column -->
            <ng-container matColumnDef="nro_doc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.nro_doc}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="example-button-row">
                        <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon" (click)="deleteClick(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="openDialogUpdate(element)">
                            <mat-icon>update</mat-icon>
                        </button>
                      </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>