<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
  
      <mat-card>
        <mat-card-content>
          <h2>Instituciones</h2>
          <button mat-raised-button color="primary" (click)="openDialog()">Agregar</button>
  
          <table mat-table  [dataSource]="InstitucionList" matSort>
  
            <!-- Name Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- direccion Column -->
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
              <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
            </ng-container>
          
            <!-- telefono Column -->
            <ng-container matColumnDef="telefono">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
              <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td mat-cell *matCellDef="let element"> 
                    <div class="example-button-row">
                        <button mat-icon-button color="warn" aria-label="Example icon button with a delete icon" (click)="deleteClick(element)">
                          <mat-icon>delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="openDialogUpdate(element)">
                            <mat-icon>update</mat-icon>
                        </button>
                        <!-- <button mat-icon-button color="primary" aria-label="Agregar administrador" (click)="openDialogAdmin(element)">
                          <mat-icon>manage_accounts</mat-icon>
                        </button> -->
                        <a mat-icon-button color="primary" aria-label="Agregar administrador" href="/users?institucion={{element.id}}">
                          <mat-icon>manage_accounts</mat-icon>
                        </a>
                        
                        <a mat-icon-button color="primary" aria-label="Ver facturacion" href="facturacion?id={{element.id}}">
                          <mat-icon>list</mat-icon>
                        </a>
                      </div>
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>