<div fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%" class="edificio-container">
        <div class="title">
            <h3>Noticia</h3>
            <mat-divider></mat-divider>
        </div>
        
        <mat-divider></mat-divider>

        <div style="width:800px;">
        <div style="width:300px; float:left;">
            <mat-form-field appearance="fill">

                <input matInput [(ngModel)]="nombre" [readonly]="!editable">
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <textarea matInput [(ngModel)]="descripcion"
                matTextareaAutosize matAutosizeMinRows=8 matAutosizeMaxRows=8 [readonly]="!editable">{{descripcion}}</textarea>
            </mat-form-field>

        </div>
        <img [src]=PhotoFilePath height="250px;" width="200px;">
    </div>

    <div class="example-button-row" style="position: relative;">
        <button mat-raised-button color="accent" (click)="onNoClick()">Cerrar</button>
    </div>
</div>
</div>
