<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h3>Actualizar Persona</h3>
        <div class="example-container">
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill">
                <mat-label>Nombres</mat-label>
                <input matInput [(ngModel)]="nombres">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="apellidos">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input matInput [(ngModel)]="telefono">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Tipo de documento</mat-label>
                <mat-select [(ngModel)]="tipo_doc">
                <mat-option [value]="0">Cedula</mat-option>
                <mat-option [value]="1">Pasaporte</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nro Documento</mat-label>
                <input matInput [(ngModel)]="nro_doc">
            </mat-form-field>

            <div class="ml-3 bd-highlight" style="width: 40%;">
                <img [src]="imgURL" height="200" *ngIf="imgURL">
                <img *ngIf="!imgURL" [src]=PhotoFilePath height="250px;" width="200px;">
                <input type="file" (change)="uploadPhoto($event)" class="mt-2"/>
            </div>
        </div>

        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="updatePersona()">Actualizar</button>
            <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
        </div>
    </div>
</div>