.example-button-row {
    display: table-cell;
    width: 490px;
  }

  /* #mapa-mapbox{
    width: 100%;
    height: 100%;
    margin: 0;
  } /

  / .edificio-container{
    display : inline-flex;
  }

  .title{
    align-content: center;
  }
  .formEdificio{
    display : inline-flex;
  }
 */

.example-button-row .mat-button-base {
margin: 8px 8px 8px 0;
}