<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <h3>Actualizar usuario</h3>
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput="password" [(ngModel)]="passwordPlano">
        </mat-form-field>

        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="updateUsuario()">Guardar</button>
            <button mat-raised-button color="accent" (click)="onNoClick()">Cancelar</button>
        </div>
  </div>
</div>